## In this Project we create a Content-Based recommendation system for some data from IMDB cite to give the best option for users to watch new movies

#### First we import required libraries:

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### reading movies and ratings datasets

In [82]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')

### Show the size of our datasets:

In [83]:
print(movies_df.shape)
print(ratings_df.shape)

(9742, 3)
(100836, 4)

### Show the head of datasets:

In [84]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [85]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Modify the movies_df data set and split the year of movie:

In [86]:
# در این قسمت ستون‌ سال را از اسم جدا میکنیم
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

/tmp/ipykernel_170410/1296725406.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

### Modify the movies_df dataset and split the genres of movies and make a copy of dataset:

In [87]:
# in this section we split the genres column by <.split()> code by '|' icon and convert that column to a list
movies_df['genres'] = movies_df.genres.str.split('|')
moviesG_df = movies_df.copy()
moviesG_df

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"[Action, Animation, Comedy, Fantasy]",2017
9738,193583,No Game No Life: Zero,"[Animation, Comedy, Fantasy]",2017
9739,193585,Flint,[Drama],2017
9740,193587,Bungo Stray Dogs: Dead Apple,"[Action, Animation]",2018
9741,193609,Andrew Dice Clay: Dice Rules,[Comedy],1991

### in the copy of dataset, we create new columns based on genres of the movie. it shows category of the movie by 1 and 0s

In [88]:
# for every genre in genres column list, we make a new column by that genre name and fill it with 1 if true elif false: 0
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesG_df.at[index, genre] = 1


#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesG_df = moviesG_df.fillna(0)
moviesG_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### we need to clean our rating dataset by columns we don't need like time

In [90]:
# we delete timestamp column because it's useless for our job by <.drop()> code
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

/tmp/ipykernel_170410/2399706790.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ratings_df = ratings_df.drop('timestamp', 1)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

### Now we have our movie and rating dataset clean!
Now it's time to get new_user input:

In [91]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
             {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [92]:
# userInput = [
#             {'title':'Grumpier Old Men', 'rating':5},
#             {'title':'Flint', 'rating':2.5},
#             {'title':'Jumanji', 'rating':2},
#              {'title':"Andrew Dice Clay: Dice Rules", 'rating':5},
#             {'title':'Father of the Bride Part II', 'rating':4.5}
#          ] 
# inputMovies = pd.DataFrame(userInput)
# inputMovies

## To create a Recommendation system based on user content we have three steps:
1.What are the genres of the movies that the new_user rated!
to answer this question we need to build User_Movie_matrix

2.. Find the favorite genres of the User and create the Weighted_movies_rating_matrix

3.Compare the Weighted_movies_rating_matrix of the user with genreTable and return the most similarity

## First step: Create User Movie Matrix:

In [93]:
# we get the shape of moviesG_df dataframe
moviesG_df.shape

(9742, 24)

In [94]:
#Add inputid to inputMovies dataframe by finding similar title in both dataframse by <.isin()> code
inputId = moviesG_df[moviesG_df['title'].isin(inputMovies['title'])]
inputId

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
973,1274,Akira,"[Action, Adventure, Animation, Sci-Fi]",1988,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1445,1968,"Breakfast Club, The","[Comedy, Drama]",1985,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
# we merge inputMovies and inputId dataframes by <pd.merge()> code and delete genre and year columns
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)

inputMovies

/tmp/ipykernel_170410/3343202364.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
/tmp/ipykernel_170410/3343202364.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies = inputMovies.drop('genres', 1).drop('year', 1)

,movieId,title,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed),rating
0,1,Toy Story,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
1,2,Jumanji,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,296,Pulp Fiction,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,1274,Akira,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
4,1968,"Breakfast Club, The",0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

### Create User Genre Matrix:

In [96]:
# we create user genre matrix by droping every column in inputMovies dataframse but the ones contain genres and call it userGenreTable:
userGenreTable = inputMovies.drop('movieId', 1).drop('title', 1).drop('rating' , 1)
userGenreTable

/tmp/ipykernel_170410/75081178.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = inputMovies.drop('movieId', 1).drop('title', 1).drop('rating' , 1)
/tmp/ipykernel_170410/75081178.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = inputMovies.drop('movieId', 1).drop('title', 1).drop('rating' , 1)
/tmp/ipykernel_170410/75081178.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = inputMovies.drop('movieId', 1).drop('title', 1).drop('rating' , 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

## Second Step: Create Weighted User Rating Matrix 
by multiplying userGenreTable to userRating

In [98]:
userGenreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
print(inputMovies['rating'].shape)
print(userGenreTable.shape)

(5,)
(5, 20)

In [100]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [101]:
# for creating user weighted genre matrix (userProfile) we multiply user rating to user Genre Table by <.dot()> and then normlize it

userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [102]:
# and then normlize it
userProfile = userProfile/sum(userProfile)
userProfile

Adventure             0.139860
Animation             0.111888
Children              0.076923
Comedy                0.188811
Fantasy               0.076923
Romance               0.000000
Drama                 0.139860
Action                0.062937
Crime                 0.069930
Thriller              0.069930
Horror                0.000000
Mystery               0.000000
Sci-Fi                0.062937
War                   0.000000
Musical               0.000000
Documentary           0.000000
IMAX                  0.000000
Western               0.000000
Film-Noir             0.000000
(no genres listed)    0.000000
dtype: float64

Now, we have the weights for every of the user's preferences. This is known as the User Profile. Using this, we can recommend movies that satisfy the user's preferences.

## Third step: Comparing the User Profile to GenreTable of the whole movies!

In [103]:
### Whole Movies GenreTable:
# we don't want to lose movie_id but in multiplying the userProfile in genreTable we need to clear every column but the ones contain genres.
# so we set movie_ids as index to keep them by <.set_index(moviesG_df['movieId'])> code
genreTable = moviesG_df.set_index(moviesG_df['movieId'])

#then we drop every column but the ones contain genres:

genreTable = genreTable.drop('movieId' , 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.tail()

/tmp/ipykernel_170410/3348195018.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId' , 1).drop('title', 1).drop('genres', 1).drop('year', 1)
/tmp/ipykernel_170410/3348195018.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId' , 1).drop('title', 1).drop('genres', 1).drop('year', 1)
/tmp/ipykernel_170410/3348195018.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId' , 1).drop('title', 1).drop('genres', 1).drop('year', 1)
/tmp/ipykernel_170410/3348195018.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId' , 1).drop('title', 1).drop('genres', 1).drop('year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
193581,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Now Compare this to UserProfile and return the most similarities:

In [104]:
# we create a dataframe based on the weighted ratings of every movies by matrix multiplying of the genreTable and userProfile:. 
# the indicies are movie_ids

recommendationTable_df = (genreTable*userProfile)

#we create a column named similarity that shows the similarity og the user favorite and movie's genre:

recommendationTable_df['similarity'] =  recommendationTable_df.sum(axis=1)
recommendationTable_df

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed),similarity
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.13986,0.111888,0.076923,0.188811,0.076923,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.594406
2,0.13986,0.000000,0.076923,0.000000,0.076923,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.293706
3,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811
4,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.13986,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.328671
5,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.062937,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.440559
193583,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.377622
193585,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.13986,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.139860
193587,0.00000,0.111888,0.000000,0.000000,0.000000,0.0,0.00000,0.062937,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.174825
193609,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811

In [105]:
# here we create a column named movieId based on index of the dataframse. remember that indicies were based on movieIds

recommendationTable_df['movieId' ] = recommendationTable_df.index
recommendationTable_df

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,...,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed),similarity,movieId
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.13986,0.111888,0.076923,0.188811,0.076923,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.594406,1
2,0.13986,0.000000,0.076923,0.000000,0.076923,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.293706,2
3,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811,3
4,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.13986,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.328671,4
5,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.062937,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.440559,193581
193583,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.377622,193583
193585,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.13986,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.139860,193585
193587,0.00000,0.111888,0.000000,0.000000,0.000000,0.0,0.00000,0.062937,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.174825,193587
193609,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811,193609

In [106]:
# we move the movieId to first column here:

first_column = recommendationTable_df.pop('movieId')
  
# insert column using insert(position,column_name,
# first_column) function
recommendationTable_df.insert(0, 'movieId', first_column)
recommendationTable_df

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed),similarity
movieId,,,,,,,,,,,,,,,,,,,,,
1,1,0.13986,0.111888,0.076923,0.188811,0.076923,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.594406
2,2,0.13986,0.000000,0.076923,0.000000,0.076923,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.293706
3,3,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811
4,4,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.13986,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.328671
5,5,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,193581,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.062937,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.440559
193583,193583,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.377622
193585,193585,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.13986,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.139860
193587,193587,0.00000,0.111888,0.000000,0.000000,0.000000,0.0,0.00000,0.062937,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.174825
193609,193609,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811

In [107]:
# and we reset the indicies by <.reset_index(drop=True)>

recommendationTable_df = recommendationTable_df.reset_index(drop=True)
recommendationTable_df

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed),similarity
0,1,0.13986,0.111888,0.076923,0.188811,0.076923,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.594406
1,2,0.13986,0.000000,0.076923,0.000000,0.076923,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.293706
2,3,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811
3,4,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.13986,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.328671
4,5,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.062937,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.440559
9738,193583,0.00000,0.111888,0.000000,0.188811,0.076923,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.377622
9739,193585,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.13986,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.139860
9740,193587,0.00000,0.111888,0.000000,0.000000,0.000000,0.0,0.00000,0.062937,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.174825
9741,193609,0.00000,0.000000,0.000000,0.188811,0.000000,0.0,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.188811

### Now that we have the movieIds, we can return the recommendation Table by Movie's names:

In [108]:
#fisrt we merge the recommendationTable dataframe that we created above with movies dataframe that we imported:
Recom = pd.merge(movies_df , recommendationTable_df)

#we drop the columns that contains genres for cleaning the final Recommendation Table. columnt 4 to 23 are for genres:
cols = []
for i in range(24):
    # print(i)
    if i > 3:
        cols.append(i)
# print(cols)
Recom = Recom.drop(Recom.columns[cols],axis=1)

# and finally we sort Recommendation Table by similarity by <.sort_values()> code:  
RecommendationTable_df = Recom.sort_values(by='similarity',ascending=False)
RecommendationTable_df = RecommendationTable_df.reset_index(drop=True)
RecommendationTable_df

,movieId,title,genres,year,similarity
0,134853,Inside Out,"[Adventure, Animation, Children, Comedy, Drama...",2015,0.734266
1,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009,0.685315
2,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000,0.678322
3,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002,0.678322
4,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010,0.671329
...,...,...,...,...,...
9737,6299,"Winged Migration (Peuple migrateur, Le)",[Documentary],2001,0.000000
9738,1797,Everest,"[Documentary, IMAX]",1998,0.000000
9739,6290,House of 1000 Corpses,[Horror],2003,0.000000
9740,6289,Ghosts of the Abyss,"[Documentary, IMAX]",2003,0.000000
9741,114044,Honeymoon,[Horror],2014,0.000000

## متوجه شدم که در کد اصلی که در درس تدریس شده قسمت آخر کد مشکل دارد و جدول به دست آمده بر اساس شباهت نیست.
## پس من جدولی ساختم که در آن درصد شباهت را در ستون آخر آن نشان میدهد

# Collaborative Filtering!

### here we Don't care about genres. we want to check for weighted average score for a user based on other's user similarity

### <img src="https://editor.analyticsvidhya.com/uploads/460031_9XZYM6B5Ly-ENYTkEtr9dA.png" width=800px>

In [109]:
inputMovies

,movieId,title,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed),rating
0,1,Toy Story,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
1,2,Jumanji,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,296,Pulp Fiction,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,1274,Akira,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
4,1968,"Breakfast Club, The",0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [110]:
# so we drop the genres items in inputMovies dataframe:
cols = []
for i in range(22):
    # print(i)
    if i > 1:
        cols.append(i)
# drop columns number in cols list by <.drop()>
inputMovies = inputMovies.drop(inputMovies.columns[cols],axis=1)
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [116]:
ratings_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

### there are 610 users according to ratings dataframe. we have to find similarity between mutal likes by rating movies between these users and our user. so first we create a sub dataset of ratings_df that have rated the movies in our inputMovies dataset!

In [119]:
# find the movie_ids that are same in inputMovies and ratings_df dataframse by <.isin()> code
# movie_ids = [1 , 2 , 296 , 1274 , 1968]
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset

       userId  movieId  rating
0           1        1     4.0
16          1      296     3.0
320         4      296     1.0
422         4     1968     4.0
516         5        1     4.0
...       ...      ...     ...
99510     609      296     4.0
99534     610        1     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

[784 rows x 3 columns]

In [137]:
# now we group the dataframe by userId: <.groupby()>
userSubsetGroup = userSubset.groupby(['userId'])

In [131]:
#it shows similarity between user 1 and input_user:
userSubsetGroup.get_group(1)

    userId  movieId  rating
0        1        1     4.0
16       1      296     3.0

In [139]:
#we can sort our userSetGroup by the users that have the most in common movies with input_user.
#this can be done by sort by the len of the similarity:
# it return the tupple of list that the first item is user id and the second is the movies in common and the ratings:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)
userSubsetGroup

[(91,
         userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0),
 (177,
         userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5),
 (219,
         userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0),
 (274,
         userId  movieId  rating
  39229     274        1     4.0
  39230     274        2     3.5
  39288     274      296     5.0
  39448     274     1274     4.0
  39549     274     1968     4.0),
 (298,
         userId  movieId  rating
  44535     298        1     2.0
  44536     298        2     0.5
  44555     298      296     4.5
  44620     298     1274     4.0
  44655     298     1968     3.5),
 (414,
         userId  movieId  rating
  62294     414        1     4.0
  62295     414        2     3.0
  62425     414      296     5.0
  62769     414     1274     4.0
  62957     414     1968     5.0),
 (474,
         userId  movieId  rating
  73092     474        1     4.0
  73093     474        2     3.0
  73172     474      296     4.0
  73466     474     1274     2.0
  73641     474     1968     3.5),
 (477,
         userId  movieId  rating
  75424     477        1     4.0
  75425     477        2     4.0
  75447     477      296     4.5
  75558     477     1274     5.0
  75613     477     1968     4.0),
 (480,
         userId  movieId  rating
  76227     480        1     3.0
  76228     480        2     3.0
  76273     480      296     4.0
  76396     480     1274     4.0
  76462     480     1968     3.5),
 (483,
         userId  movieId  rating
  77222     483        1     4.0
  77223     483        2     4.0
  77265     483      296     5.0
  77375     483     1274     3.5
  77431     483     1968     3.5),
 (599,
         userId  movieId  rating
  92623     599        1     3.0
  92624     599        2     2.5
  92742     599      296     5.0
  93073     599     1274     5.0
  93269     599     1968     3.5),
 (608,
         userId  movieId  rating
  98666     608        1     2.5
  98667     608        2     2.0
  98723     608      296     5.0
  98882     608     1274     4.0
  98980     608     1968     4.0),
 (50,
        userId  movieId  rating
  7112      50        1     3.0
  7116      50      296     4.0
  7158      50     1274     4.0
  7175      50     1968     2.5),
 (57,
        userId  movieId  rating
  8035      57        1     5.0
  8071      57      296     3.0
  8230      57     1274     3.0
  8321      57     1968     4.0),
 (68,
         userId  movieId  rating
  10360      68        1     2.5
  10361      68        2     2.5
  10419      68      296     2.0
  10679      68     1968     3.0),
 (103,
         userId  movieId  rating
  15565     103        1     4.0
  15566     103        2     4.0
  15587     103      296     5.0
  15684     103     1968     4.0),
 (135,
         userId  movieId  rating
  20336     135        1     4.0
  20337     135        2     3.0
  20357     135      296     4.0
  20482     135     1968     4.0),
 (182,
         userId  movieId  rating
  26092     182        1     4.0
  26152     182      296     5.0
  26301     182     1274     5.0
  26418     182     1968     5.0),
 (202,
         userId  movieId  rating
  29378     202        1     4.0
  29379     202        2     4.0
  29401     202      296     4.0
  29597     202     1968     5.0),
 (217,
         userId  movieId  rating
  30885     217        1     4.0
  30886     217        2     2.0
  30932     217      296     2.0
  31224     217     1968     4.0),
 (226,
         userId  movieId  rating
  33044     226        1     3.5
  33045     226        2     3.0
  33083     226      296     4.5
  33217     226     1968     4.0),
 (288,
         userId  movieId  rating
  42114     288        1     4.5
  42115     288        2     2.0
  42150     288      296     5.0
  42438     288     1968     3.0),
 (307,
         userId  movieId  rating
  46733     307        1     4.0
  46734     307        2     2.5
  46790     307      296     4.5
  47011     307     1968     4.5),
 (318,
         userId  movieId  rating
  48984     318        2     3.5
  49009     318      296     4.5
  49091     318     1274     5.0
  49126     318     1968     3.5),
 (322,
         userId  movieId  rating
  49974     322        1     3.5
  49975     322        2     3.0
  49983     322      296     5.0
  50026     322     1968     3.0),
 (330,
         userId  movieId  rating
  50948     330        1     4.0
  50949     330        2     1.5
  50975     330      296     4.0
  51094     330     1968     5.0),
 (357,
         userId  movieId  rating
  54123     357        1     5.0
  54124     357        2     3.0
  54148     357      296     4.5
  54290     357     1968     4.0),
 (434,
         userId  movieId  rating
  67080     434        1     4.0
  67081     434        2     2.5
  67100     434      296     5.0
  67154     434     1274     5.0),
 (448,
         userId  movieId  rating
  68655     448        1     5.0
  68656     448        2     3.0
  68694     448      296     5.0
  68943     448     1968     3.0),
 (469,
         userId  movieId  rating
  72453     469        1     4.0
  72478     469      296     5.0
  72613     469     1274     4.0
  72696     469     1968     5.0),
 (561,
         userId  movieId  rating
  86582     561        1     4.0
  86583     561        2     4.0
  86601     561      296     4.5
  86710     561     1968     4.0),
 (600,
         userId  movieId  rating
  95101     600        1     2.5
  95102     600        2     4.0
  95154     600      296     4.5
  95306     600     1274     3.5),
 (606,
         userId  movieId  rating
  97364     606        1     2.5
  97418     606      296     5.0
  97592     606     1274     4.0
  97692     606     1968     4.0),
 (610,
         userId  movieId  rating
  99534     610        1     5.0
  99552     610      296     5.0
  99636     610     1274     5.0
  99664     610     1968     4.0),
 (18,
        userId  movieId  rating
  1772      18        1     3.5
  1773      18        2     3.0
  1796      18      296     4.0),
 (19,
        userId  movieId  rating
  2274      19        1     4.0
  2275      19        2     3.0
  2629      19     1968     2.0),
 (21,
        userId  movieId  rating
  3219      21        1     3.5
  3220      21        2     3.5
  3231      21      296     3.5),
 (45,
        userId  movieId  rating
  6477      45        1     4.0
  6511      45      296     5.0
  6662      45     1968     4.0),
 (63,
        userId  movieId  rating
  9157      63        1     5.0
  9172      63      296     5.0
  9242      63     1968     4.0),
 (64,
        userId  movieId  rating
  9428      64        1     4.0
  9466      64      296     4.5
  9622      64     1968     3.5),
 (66,
         userId  movieId  rating
  9979       66        1     4.0
  10002      66      296     5.0
  10128      66     1968     4.0),
 (107,
         userId  movieId  rating
  16970     107        1     4.0
  16971     107        2     5.0
  16992     107      296     3.0),
 (122,
         userId  movieId  rating
  18831     122        2     4.0
  18845     122      296     5.0
  18900     122     1968     4.5),
 (132,
         userId  movieId  rating
  19919     132        1     2.0
  19946     132      296     4.0
  20048     132     1968     4.0),
 (140,
         userId  movieId  rating
  21083     140        1     3.0
  21084     140        2     3.5
  21119     140      296     4.0),
 (141,
         userId  movieId  rating
  21691     141        1     4.0
  21700     141      296     4.0
  21734     141     1968     4.0),
 (144,
         userId  movieId  rating
  21968     144        1     3.5
  21969     144        2     3.0
  21989     144      296     4.0),
 (153,
         userId  movieId  rating
  22425     153        1     2.0
  22426     153        2     2.0
  22429     153      296     3.0),
 (156,
         userId  movieId  rating
  22684     156        1     4.0
  22707     156      296     5.0
  22891     156     1968     3.5),
 (160,
         userId  movieId  rating
  23226     160        1     4.0
  23227     160        2     4.0
  23264     160      296     5.0),
 (166,
         userId  movieId  rating
  23864     166        1     5.0
  23874     166      296     4.5
  23932     166     1968     2.5),
 (198,
         userId  movieId  rating
  28361     198      296     5.0
  28417     198     1274     4.0
  28454     198     1968     3.0),
 (200,
         userId  movieId  rating
  28934     200        1     3.5
  28949     200      296     5.0
  29025     200     1968     4.0),
 (201,
         userId  movieId  rating
  29268     201        1     5.0
  29283     201      296     5.0
  29337     201     1968     5.0),
 (232,
         userId  movieId  rating
  33898     232        1     3.5
  33899     232        2     4.0
  33913     232      296     5.0),
 (240,
         userId  movieId  rating
  35580     240        1     5.0
  35581     240        2     5.0
  35631     240      296     2.0),
 (249,
         userId  movieId  rating
  36374     249        1     4.0
  36375     249        2     4.0
  36398     249      296     4.0),
 (266,
         userId  movieId  rating
  38665     266        1     2.0
  38687     266      296     5.0
  38781     266     1968     2.0),
 (275,
         userId  movieId  rating
  40575     275        1     5.0
  40596     275      296     5.0
  40749     275     1968     4.0),
 (282,
         userId  movieId  rating
  41460     282        1     4.5
  41472     282      296     4.0
  41533     282     1968     4.0),
 (292,
         userId  movieId  rating
  43491     292        1     4.0
  43505     292      296     3.0
  43586     292     1968     3.0),
 (294,
         userId  movieId  rating
  43958     294        2     3.0
  43990     294      296     4.0
  44184     294     1968     3.0),
 (304,
         userId  movieId  rating
  45728     304        1     5.0
  45729     304        2     4.0
  45768     304      296     5.0),
 (305,
         userId  movieId  rating
  45944     305        2     3.5
  45962     305      296     5.0
  46076     305     1968     5.0),
 (313,
         userId  movieId  rating
  48261     313      296     5.0
  48336     313     1274     5.0
  48389     313     1968     2.0),
 (323,
         userId  movieId  rating
  50081     323        1     3.5
  50082     323        2     4.0
  50112     323      296     4.0),
 (328,
         userId  movieId  rating
  50670     328        1     5.0
  50681     328      296     5.0
  50765     328     1968     2.5),
 (353,
         userId  movieId  rating
  53492     353        1     5.0
  53493     353        2     4.0
  53547     353      296     5.0),
 (359,
         userId  movieId  rating
  54547     359        1     4.0
  54548     359        2     3.5
  54553     359      296     4.0),
 (372,
         userId  movieId  rating
  56128     372        1     3.0
  56180     372      296     4.0
  56313     372     1274     1.0),
 (373,
         userId  movieId  rating
  56364     373        1     3.0
  56365     373        2     3.0
  56415     373      296     5.0),
 (380,
         userId  movieId  rating
  56878     380        1     5.0
  56879     380        2     5.0
  56920     380      296     5.0),
 (381,
         userId  movieId  rating
  58096     381        1     3.5
  58097     381        2     4.0
  58212     381     1968     5.0),
 (387,
         userId  movieId  rating
  59269     387      296     5.0
  59453     387     1274     4.5
  59540     387     1968     3.5),
 (391,
         userId  movieId  rating
  60405     391        1     3.0
  60430     391      296     5.0
  60603     391     1968     4.0),
 (411,
         userId  movieId  rating
  62009     411        1     5.0
  62010     411        2     4.0
  62071     411      296     5.0),
 (425,
         userId  movieId  rating
  65884     425        2     3.0
  65914     425      296     4.0
  66035     425     1968     3.5),
 (432,
         userId  movieId  rating
  66798     432        1     2.5
  66799     432        2     4.0
  66814     432      296     2.5),
 (462,
         userId  movieId  rating
  71544     462        1     1.5
  71563     462      296     2.5
  71678     462     1968     4.0),
 (470,
         userId  movieId  rating
  72918     470        1     4.0
  72919     470        2     3.0
  72954     470      296     3.0),
 (476,
         userId  movieId  rating
  75355     476        1     4.0
  75356     476        2     4.0
  75380     476      296     3.0),
 (484,
         userId  movieId  rating
  77950     484        1     4.5
  77951     484        2     2.5
  78032     484     1968     4.0),
 (489,
         userId  movieId  rating
  78471     489        2     2.5
  78512     489      296     4.0
  78699     489     1968     4.0),
 (500,
         userId  movieId  rating
  79907     500        1     4.0
  79942     500     1274     4.0
  79957     500     1968     4.0),
 (504,
         userId  movieId  rating
  80168     504        1     4.0
  80171     504      296     4.0
  80184     504     1968     4.0),
 (514,
         userId  movieId  rating
  81082     514        1     4.0
  81096     514      296     4.0
  81190     514     1968     4.0),
 (525,
         userId  movieId  rating
  82613     525        1     4.0
  82614     525        2     3.5
  82713     525     1968     4.5),
 (555,
         userId  movieId  rating
  85291     555        1     4.0
  85325     555      296     4.0
  85541     555     1968     5.0),
 (559,
         userId  movieId  rating
  85984     559        1     5.0
  85985     559        2     4.0
  86029     559      296     3.0),
 (560,
         userId  movieId  rating
  86124     560        1     3.0
  86140     560      296     4.0
  86177     560     1274     3.5),
 (562,
         userId  movieId  rating
  87087     562        1     4.5
  87093     562      296     5.0
  87147     562     1968     5.0),
 (570,
         userId  movieId  rating
  88219     570        1     4.0
  88220     570        2     3.5
  88341     570     1968     4.0),
 (573,
         userId  movieId  rating
  88677     573        1     5.0
  88678     573        2     4.5
  88693     573      296     5.0),
 (590,
         userId  movieId  rating
  90517     590        1     4.0
  90518     590        2     2.5
  90546     590      296     4.5),
 (603,
         userId  movieId  rating
  96100     603        1     4.0
  96171     603      296     5.0
  96414     603     1274     1.0),
 (604,
         userId  movieId  rating
  97043     604        1     3.0
  97044     604        2     5.0
  97103     604      296     5.0),
 (605,
         userId  movieId  rating
  97143     605        1     4.0
  97144     605        2     3.5
  97151     605      296     2.0),
 (607,
         userId  movieId  rating
  98479     607        1     4.0
  98496     607      296     3.0
  98574     607     1968     5.0),
 (1,
      userId  movieId  rating
  0        1        1     4.0
  16       1      296     3.0),
 (4,
       userId  movieId  rating
  320       4      296     1.0
  422       4     1968     4.0),
 (5,
       userId  movieId  rating
  516       5        1     4.0
  533       5      296     5.0),
 (6,
       userId  movieId  rating
  560       6        2     4.0
  692       6      296     2.0),
 (8,
        userId  movieId  rating
  1026       8        2     4.0
  1049       8      296     4.0),
 (15,
        userId  movieId  rating
  1434      15        1     2.5
  1442      15      296     4.0),
 (17,
        userId  movieId  rating
  1667      17        1     4.5
  1676      17      296     5.0),
 (23,
        userId  movieId  rating
  3789      23      296     3.5
  3835      23     1274     4.0),
 (27,
        userId  movieId  rating
  4059      27        1     3.0
  4060      27        2     4.0),
 (32,
        userId  movieId  rating
  4929      32        1     3.0
  4961      32      296     5.0),
 (33,
        userId  movieId  rating
  5031      33        1     3.0
  5059      33      296     5.0),
 (39,
        userId  movieId  rating
  5459      39      296     5.0
  5517      39     1968     5.0),
 (40,
        userId  movieId  rating
  5555      40        1     5.0
  5608      40      296     5.0),
 (42,
        userId  movieId  rating
  5917      42      296     5.0
  6087      42     1968     4.0),
 (43,
        userId  movieId  rating
  6315      43        1     5.0
  6360      43      296     3.0),
 (54,
        userId  movieId  rating
  7931      54        1     3.0
  7943      54      296     3.0),
 (62,
        userId  movieId  rating
  8791      62        2     4.0
  8797      62      296     4.5),
 (76,
         userId  movieId  rating
  12264      76        1     0.5
  12271      76      296     4.5),
 (78,
         userId  movieId  rating
  12412      78        1     4.0
  12418      78      296     4.0),
 (82,
         userId  movieId  rating
  12730      82        1     2.5
  12731      82        2     3.0),
 (93,
         userId  movieId  rating
  14720      93        1     3.0
  14721      93        2     5.0),
 (94,
         userId  movieId  rating
  14817      94        2     4.0
  14844      94      296     4.0),
 (95,
         userId  movieId  rating
  14912      95     1274     5.0
  14929      95     1968     4.5),
 (96,
         userId  movieId  rating
  15041      96        1     5.0
  15049      96      296     5.0),
 (100,
         userId  movieId  rating
  15319     100      296     3.5
  15388     100     1968     4.5),
 (105,
         userId  movieId  rating
  16226     105      296     5.0
  16289     105     1274     3.5),
 (112,
         userId  movieId  rating
  17904     112        1     3.0
  17905     112        2     1.5),
 (117,
         userId  movieId  rating
  18349     117        2     3.0
  18412     117      296     4.0),
 (119,
         userId  movieId  rating
  18536     119        1     3.5
  18542     119      296     4.0),
 (121,
         userId  movieId  rating
  18773     121        1     4.0
  18803     121      296     4.0),
 (124,
         userId  movieId  rating
  19179     124        1     4.0
  19185     124      296     4.5),
 (125,
         userId  movieId  rating
  19229     125        2     4.0
  19235     125      296     4.5),
 (130,
         userId  movieId  rating
  19822     130        1     3.0
  19834     130      296     4.0),
 (134,
         userId  movieId  rating
  20301     134        1     3.0
  20318     134      296     4.0),
 (137,
         userId  movieId  rating
  20726     137        1     4.0
  20733     137      296     3.0),
 (145,
         userId  movieId  rating
  22096     145        1     5.0
  22106     145      296     4.0),
 (149,
         userId  movieId  rating
  22219     149        2     1.0
  22254     149     1274     1.0),
 (155,
         userId  movieId  rating
  22638     155        1     3.0
  22659     155     1968     2.0),
 (159,
         userId  movieId  rating
  23129     159        1     4.5
  23135     159      296     0.5),
 (167,
         userId  movieId  rating
  24054     167        1     3.5
  24065     167      296     3.0),
 (169,
         userId  movieId  rating
  24321     169        1     4.5
  24322     169        2     4.0),
 (171,
         userId  movieId  rating
  24640     171        1     5.0
  24654     171      296     5.0),
 (178,
         userId  movieId  rating
  25804     178        1     4.0
  25813     178      296     4.5),
 (179,
         userId  movieId  rating
  25881     179        1     4.0
  25909     179      296     4.0),
 (186,
         userId  movieId  rating

### fot instance we can witness that user 91 has 5 movies in common with user_input and user 601 has only 1

In [143]:
print('number of users with similar movies rated: ' , len(userSubsetGroup))

number of users with similar movies rated:  419

In [144]:
#we only work with the first 50 users:
userSubsetGroup = userSubsetGroup[0:50]

### we have to find the similarity coefficient between users and input_user. for that we work with Pearson Correlation

### Now, we calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient.

In [197]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
from math import sqrt
pearsonCorrelationDict = {}

#For any user group in our userSubsetGroup
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'])]#.tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating']#.tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating']#.tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    
    if Sxx != 0 and Syy != 0:
        x = Sxy/sqrt(Sxx*Syy)
        pearsonCorrelationDict[name] = float(format(x, '.3f'))

    else:
        pearsonCorrelationDict[name] = 0

In [198]:
# now we sort the dictionary with the key (coefficient)
sorted_pearsonCorrelationDict = dict(sorted(pearsonCorrelationDict.items(), key=lambda x:x[1],reverse=True))
sorted_pearsonCorrelationDict

{18: 1.0,
 132: 1.0,
 144: 1.0,
 434: 0.986,
 307: 0.966,
 298: 0.959,
 226: 0.944,
 182: 0.943,
 414: 0.938,
 608: 0.921,
 606: 0.915,
 330: 0.904,
 135: 0.87,
 122: 0.866,
 153: 0.866,
 160: 0.866,
 469: 0.816,
 480: 0.784,
 599: 0.767,
 274: 0.716,
 288: 0.601,
 357: 0.561,
 103: 0.522,
 202: 0.522,
 561: 0.522,
 322: 0.506,
 45: 0.5,
 66: 0.5,
 140: 0.5,
 219: 0.451,
 318: 0.445,
 91: 0.439,
 477: 0.439,
 217: 0.302,
 448: 0.302,
 156: 0.189,
 600: 0.184,
 50: 0.157,
 474: 0.117,
 483: 0.08,
 177: 0.0,
 68: 0.0,
 21: 0,
 64: 0.0,
 141: 0,
 610: -0.471,
 19: -0.5,
 63: -0.5,
 57: -0.739,
 107: -1.0}

In [199]:
#convert sorted_pearsonCorrelation Dictionary to a dataframe by pandas <.from_dict()> code
pearsonDF = pd.DataFrame.from_dict(sorted_pearsonCorrelationDict, orient='index')
pearsonDF

         0
18   1.000
132  1.000
144  1.000
434  0.986
307  0.966
298  0.959
226  0.944
182  0.943
414  0.938
608  0.921
606  0.915
330  0.904
135  0.870
122  0.866
153  0.866
160  0.866
469  0.816
480  0.784
599  0.767
274  0.716
288  0.601
357  0.561
103  0.522
202  0.522
561  0.522
322  0.506
45   0.500
66   0.500
140  0.500
219  0.451
318  0.445
91   0.439
477  0.439
217  0.302
448  0.302
156  0.189
600  0.184
50   0.157
474  0.117
483  0.080
177  0.000
68   0.000
21   0.000
64   0.000
141  0.000
610 -0.471
19  -0.500
63  -0.500
57  -0.739
107 -1.000

In [200]:
#name columns to similarity
pearsonDF.columns = ['similarity']
#name new column userId by the index of the dataframe
pearsonDF['userId'] = pearsonDF.index
#reset the index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarity  userId
0       1.000      18
1       1.000     132
2       1.000     144
3       0.986     434
4       0.966     307

In [202]:
#we select the first 30 users in common
topUsers = pearsonDF[:30]

In [205]:
topUsers

    similarity  userId
0        1.000      18
1        1.000     132
2        1.000     144
3        0.986     434
4        0.966     307
5        0.959     298
6        0.944     226
7        0.943     182
8        0.938     414
9        0.921     608
10       0.915     606
11       0.904     330
12       0.870     135
13       0.866     122
14       0.866     153
15       0.866     160
16       0.816     469
17       0.784     480
18       0.767     599
19       0.716     274
20       0.601     288
21       0.561     357
22       0.522     103
23       0.522     202
24       0.522     561
25       0.506     322
26       0.500      45
27       0.500      66
28       0.500     140
29       0.451     219

### we found the users that have the most similarity to our input_user by their rated movies. Now we have to find the movies that these users rated higher to recommend them to our input_user:

In [207]:
#merge topUser with ratings dataframse
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head(5)

   similarity  userId  movieId  rating
0         1.0      18        1     3.5
1         1.0      18        2     3.0
2         1.0      18        6     4.0
3         1.0      18       16     4.5
4         1.0      18       32     4.0

### Now all we need to do is simply multiply the movie rating by its weight (The similarity), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

It shows the idea of all similar users to candidate movies for the input user:

In [214]:
# multiply similarity to rating and create new column names weightedRating
topUsersRating['weightedRating'] = topUsersRating['similarity']*topUsersRating['rating']
topUsersRating.tail()

       similarity  userId  movieId  rating  weightedRating
20516       0.451     219    62394     2.5          1.1275
20517       0.451     219    63082     5.0          2.2550
20518       0.451     219    64575     5.0          2.2550
20519       0.451     219    64620     4.0          1.8040
20520       0.451     219    66297     4.0          1.8040

In [225]:
# create a dataframe that collects the sum of similarity and sum of weightedRating
# and divide them to normalize it and return the average score!
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarity','weightedRating']]
tempTopUsersRating.columns = ['sum_similarity','sum_weightedRating']

tempTopUsersRating['weighted average recommendation score'] =  tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarity']

tempTopUsersRating.head()

,sum_similarity,sum_weightedRating,weighted average recommendation score
movieId,,,
1,22.346,77.8400,3.483397
2,18.538,51.7935,2.793910
3,6.825,20.5055,3.004469
5,3.583,10.2320,2.855708
6,10.311,39.4095,3.822083

In [230]:
# now we create a column for movie_id by the index and reset indicies:
recommendation_df = tempTopUsersRating
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df = recommendation_df.reset_index(drop=True)
recommendation_df

,sum_similarity,sum_weightedRating,weighted average recommendation score,movieId
0,22.346,77.8400,3.483397,1
1,18.538,51.7935,2.793910,2
2,6.825,20.5055,3.004469,3
3,3.583,10.2320,2.855708,5
4,10.311,39.4095,3.822083,6
...,...,...,...,...
5654,0.767,2.3010,3.000000,183301
5655,0.866,0.4330,0.500000,184471
5656,0.938,2.3450,2.500000,184791
5657,1.000,4.5000,4.500000,185135
5658,0.938,3.2830,3.500000,187595

In [231]:
#drop the extra columns:
recommendation_df = recommendation_df.drop('sum_similarity' , 1).drop('sum_weightedRating' , 1)
recommendation_df

/tmp/ipykernel_170410/302104417.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  recommendation_df = recommendation_df.drop('sum_similarity' , 1).drop('sum_weightedRating' , 1)
/tmp/ipykernel_170410/302104417.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  recommendation_df = recommendation_df.drop('sum_similarity' , 1).drop('sum_weightedRating' , 1)

      weighted average recommendation score  movieId
0                                  3.483397        1
1                                  2.793910        2
2                                  3.004469        3
3                                  2.855708        5
4                                  3.822083        6
...                                     ...      ...
5654                               3.000000   183301
5655                               0.500000   184471
5656                               2.500000   184791
5657                               4.500000   185135
5658                               3.500000   187595

[5659 rows x 2 columns]

In [232]:
recommendation_df

      weighted average recommendation score  movieId
0                                  3.483397        1
1                                  2.793910        2
2                                  3.004469        3
3                                  2.855708        5
4                                  3.822083        6
...                                     ...      ...
5654                               3.000000   183301
5655                               0.500000   184471
5656                               2.500000   184791
5657                               4.500000   185135
5658                               3.500000   187595

[5659 rows x 2 columns]

In [237]:
# now we sort rec1ommendation dataframe by weighted average recommendation score
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head()

      weighted average recommendation score  movieId
302                                     5.0      456
1354                                    5.0     2314
5483                                    5.0   134881
2229                                    5.0     3925
2583                                    5.0     4634

In [248]:
# now we merge recommendation_df to movies_df to get the title and other details of the movies
Recom = pd.merge(movies_df , recommendation_df)
Recom

,movieId,title,genres,year,weighted average recommendation score
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,3.483397
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,2.793910
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,3.004469
3,5,Father of the Bride Part II,[Comedy],1995,2.855708
4,6,Heat,"[Action, Crime, Thriller]",1995,3.822083
...,...,...,...,...,...
5654,183301,The Tale of the Bunny Picnic,[Children],1986,3.000000
5655,184471,Tomb Raider,"[Action, Adventure, Fantasy]",2018,0.500000
5656,184791,Fred Armisen: Standup for Drummers,[Comedy],2018,2.500000
5657,185135,Sherlock - A Study in Pink,[Crime],2010,4.500000
5658,187595,Solo: A Star Wars Story,"[Action, Adventure, Children, Sci-Fi]",2018,3.500000

In [249]:
# and finally we sort it by the weighted score
Recom = Recom.sort_values(by='weighted average recommendation score', ascending=False)
#and reset the indicies
Recom = Recom.reset_index(drop=True)

Recom

,movieId,title,genres,year,weighted average recommendation score
0,456,Fresh,"[Crime, Drama, Thriller]",1994,5.0
1,2314,Beloved,[Drama],1998,5.0
2,85,Angels and Insects,"[Drama, Romance]",1995,5.0
3,38304,No Direction Home: Bob Dylan,[Documentary],2005,5.0
4,5867,Thief,"[Crime, Drama, Thriller]",1981,5.0
...,...,...,...,...,...
5654,86320,Melancholia,"[Drama, Sci-Fi]",2011,0.5
5655,87485,Bad Teacher,[Comedy],2011,0.5
5656,149354,Sisters,"[Children, Comedy]",2015,0.5
5657,149352,Daddy's Home,[Comedy],2015,0.5
5658,6557,Born to Be Wild,"[Adventure, Children, Comedy, Drama]",1995,0.5

## متوجه شدم که در کد اصلی که در درس تدریس شده قسمت آخر کد مشکل دارد و جدول به دست آمده بر اساس میانگین امتیاز وزن دار شده نیست.
## پس من جدولی ساختم که در آن میانگین امتیاز وزن دار شده  را در ستون آخر آن نشان میدهد

# Thanks for your wonderful course
# Cheers!